body {
    /* background-color: #3D454B; */
    background-color: #181818;
}

#game_container {
    margin: auto;
    width: fit-content;
}

table {
    margin: auto;
    border: 3px solid #B2653B;
}
th, td {
    border: 2px solid #181818;
    /* margin: auto; */
}

td {
    height: 31px;
    width: 31px;

}

td:hover {
    border: 1px dashed #802520;
}


#ships {
    /* background-color: aqua; */
    border: 3px dashed;
    border-color: #5C7F71;
    width: 380px;

    /* border-radius: 5px; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.ship_piece {
    padding: 10px;
    margin: 10px;

    /* text style and color */
    color: #F5EDDC;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 15px;

}

.ship_piece:hover {
    font-size: smaller;
    color: #181818;
    box-shadow: 50px 0px #B2653B;
}

#battleship_piece {
    width: 120px;
    height: 30px
}

#battleship_piece_vertical {
    width: 30px;
    height: 120px
}

#carrier_piece {
    width: 150px;
    height: 30px
}

#carrier_piece_vertical {
    height: 150px;
    width: 30px
}


#cruiser_piece {
    width: 90px;
    height: 30px
}

#cruiser_piece_vertical {
    height: 90px;
    width: 30px
}

#patrolboat_piece {
    width: 60px;
    height: 30px
}

#patrolboat_piece_vertical {
    height: 60px;
    width: 30px
}

#submarine_piece {
    width: 90px;
    height: 30px
}

#submarine_piece_vertical {
    height: 90px;
    width: 30px
}

.draggable {
    background-color: #5C7F71;
}

.draggable.dragging {
    opacity: 0.3;
}

button {
    background-color: #B2653B;
    color: #F5EDDC;

    text-align: left;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

    border: none;
    width: 111px;
    /* padding-left: 10px; */
    margin-right: 3px;

    
}

button:hover {
    /* color: white; */
    font-size: smaller;
    color: #181818;
    width: 125px;
    height: 45px;;
}

#game_info {
    color: #F5EDDC;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#turn_text {
    text-transform: uppercase;
}

#status_modal {
    width: 500px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

    background-color: #F5EDDC;
    color: #181818;
}