body {
    background-color: #3D454B;
}

#game_container {
    margin: auto;
    width: fit-content;
}

table, th, td {
    border: 2px solid gray;
}

td {
    height: 30px;
    width: 30px;

}

td:hover {
    border: 2px solid red;
}


#ships {
    /* background-color: aqua; */
    border: 2px solid;
    border-color: #86D789;
    width: 380px;

    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ship_piece {
    padding: 10px;
    margin: 10px;
}

#battleship_piece {
    width: 120px;
    height: 30px
}

#battleship_piece_vertical {
    width: 30px;
    height: 120px
}

#carrier_piece {
    width: 150px;
    height: 30px
}

#carrier_piece_vertical {
    height: 150px;
    width: 30px
}


#cruiser_piece {
    width: 90px;
    height: 30px
}

#cruiser_piece_vertical {
    height: 90px;
    width: 30px
}

#patrolboat_piece {
    width: 60px;
    height: 30px
}

#patrolboat_piece_vertical {
    height: 60px;
    width: 30px
}

#submarine_piece {
    width: 90px;
    height: 30px
}

#submarine_piece_vertical {
    height: 90px;
    width: 30px
}

.draggable {
    background-color: green;
}

.draggable.dragging {
    opacity: 0.3;
}

button {
    background-color: #86D789;
    border-radius: 13px;
    border: none;
    width: 85px;
    height: 28px;
    font-size: 12px;
}

button:hover {
    color: white;
    width: 95px;
    height: 32px;;
}